@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MonteCarlo&family=Parisienne&family=Rouge+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

.Header-Text {
	background-color: rgb(186, 190, 213);
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	bottom: 2.2rem;

	.title {
		font-size: 3.2rem;
		line-height: 0.6em;
		text-align: center;
		font-family: "MonteCarlo", "Playfair";
		font-weight: 400;
		margin: 2rem 0;
		padding: 0 1rem;
		@media (min-width: 250px) {
			font-size: 2rem;
			line-height: 1em;
		}

		@media (min-width: 640px) {
			font-size: 3.2rem;
			line-height: 0.6em;
		}
	}

	.text {
		font-family: "Josefin Slab", serif;
		font-style: italic;
		font-weight: 400;
		margin-top: 3rem;
		margin-bottom: 3rem;
		max-width: 50rem;
		padding: 0 1rem;
		@media (min-width: 250px) {
			line-height: 1.7rem;
		}

		@media (min-width: 380px) {
			font-size: 17px;
			line-height: 1.3rem;
		}

		@media (min-width: 1024px) {
			font-size: 19px;
		}
	}

	.parents-text {
		display: flex;
		justify-content: center;
		margin-bottom: 3rem;
		gap: 2rem;
		font-size: 19px;
		font-family: "Josefin Slab", serif;
		font-style: italic;
		font-weight: 400;
		flex-direction: column;
		padding: 0 1rem;

		@media (min-width: 480px) {
			gap: 5rem;
			flex-direction: row;
		}

		.names-section {
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}
	}
}

.parents-display {
	flex-direction: column;
}
