@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MonteCarlo&family=Parisienne&family=Rouge+Script&display=swap");
@import url("https://db.onlinewebfonts.com/c/4c0277bcba75a3570694a90365e79f29?family=Droid+Serif+W01+Regular");
@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

.date-text {
	font-size: 2.5rem;
	font-family: "Josefin Slab";
	font-weight: 400;
	letter-spacing: 0.02em;
	margin-bottom: 0;
	@media (min-width: 250px) {
		font-size: 2rem;
	}

	@media (min-width: 640px) {
		font-size: 2.5rem;
	}
}

.header-wedding {
	font-family: "MonteCarlo", "Playfair";
	font-weight: 400;
	font-size: 6rem;
	margin: 0;

	@media (min-width: 250px) {
		font-size: 4rem;
		line-height: 5rem;
	}

	@media (min-width: 480px) {
		font-size: 5rem;
		line-height: 7rem;
	}
	@media (min-width: 1024px) {
		font-size: 6rem;
		line-height: 9rem;
	}
}

.wrapper-date-countdown {
	background: rgba(24, 27, 55, 0.93);
	max-width: 23rem;
	height: calc(100% - 12px);
	font-size: 21px;
	border-width: 1px;
	border-radius: 0.5rem;
	display: flex;
	padding: 0.5rem;
	margin-top: 2rem;

	.date-containers {
		height: 3.5rem;
		width: 5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (min-width: 250px) {
			height: 2rem;
			width: 3rem;
		}
		@media (min-width: 320px) {
			height: 2.5rem;
			width: 4rem;
		}

		@media (min-width: 640px) {
			height: 3.5rem;
			width: 5rem;
		}

		&-values {
			color: white;
			font-size: 1.5rem;
			font-weight: 800;
			font-family: "Droid Serif W01 Regular", "Playfair";

			@media (min-width: 250px) {
				font-size: 1.2rem;
			}

			@media (min-width: 640px) {
				font-size: 1.5rem;
			}
		}
	}
}

.seperator {
	width: 119px;
	height: 76px;
	object-fit: cover;
	object-position: 50% 50%;
	margin: 3rem 0;
}
