@import url("https://fonts.googleapis.com/css2?family=MonteCarlo&family=Parisienne&family=Rouge+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

.CeremonyMap {
	margin-top: 1rem;
	.ceremony-svg {
		height: 7.5rem;
		width: auto;
	}

	.recepcion-section {
		display: flex;
		flex-direction: column;
		margin-bottom: 3rem;
		.Invitation-Icon-container {
			display: flex;
			justify-content: center;
			gap: 2rem;

			.Invitation-Icon {
				width: 119px;
				height: 76px;
				object-fit: cover;
				object-position: 50% 50%;
				margin: 1rem 0;
			}
		}
		.recepcion-sub-section {
			padding: 3em;
			display: flex;
			flex-direction: column;
			@media (min-width: 640px) {
				flex-direction: row;
			}
			.reception-container {
				display: flex;
				flex-direction: column;
				flex: 1;
				margin-bottom: 5rem;
				padding: 0 1rem;

				@media (min-width: 640px) {
					margin-bottom: 0;
				}
				.reception-video {
					display: flex;
					flex-direction: column;
					flex: 1;
					.reception-header {
						font-size: 4.2rem;
						line-height: 0.9em;
						text-align: center;
						font-family: "MonteCarlo", "Playfair";
						font-weight: 400;
					}
					.reception-adresse {
						font-size: 1.4rem;
						line-height: 2rem;
						font-family: "Josefin Slab", serif;
						font-style: italic;
						font-weight: 400;
					}
					.reception-cater {
						font-size: 1.5rem;
						font-family: "Josefin Slab", serif;
						font-style: italic;
						font-weight: 400;
						margin-bottom: 1.5rem;
					}
					.container-button {
						height: 100%;
						display: flex;
						align-items: flex-end;
						justify-content: center;
						.reception-button-video {
							width: 9.5rem;
							height: 3.2rem;
							background-color: rgb(174 174 174);
							border: none;
							border-radius: 0.3rem;
							font-family: "Heebo", "Playfair", sans-serif;
							font-weight: 600;
							color: rgb(69, 69, 69);
							transition: color 0.4s ease 0s, background-color 0.4s ease 0s;
							margin-top: 3rem;
							&:hover {
								background-color: rgb(50, 50, 50);
								color: rgb(255, 255, 255);
							}
							cursor: pointer;
						}
					}
					.reception-time {
						font-size: 2.5rem;
						font-family: "Josefin Slab", serif;
						font-style: italic;
						font-weight: 600;
						margin-bottom: 1.5rem;
					}
				}
			}

			.reception-container {
				display: flex;
				flex-direction: column;
				flex: 1;
				padding: 0 1rem;
				.reception-column {
					display: flex;
					flex-direction: column;
					.foodIcon {
						height: 7.5rem;
						width: auto;
					}

					.reception-header {
						font-size: 4.2rem;
						line-height: 0.9em;
						text-align: center;
						font-family: "MonteCarlo";
						font-weight: 400;
					}
					.reception-time {
						font-size: 2.5rem;
						font-family: "Josefin Slab", serif;
						font-style: italic;
						font-weight: 600;
						margin-bottom: 1.5rem;
					}
					.reception-time-hour {
						font-size: 2.5rem;
						font-family: "Josefin Slab", serif;
						font-style: italic;
						font-weight: 600;
					}

					.reception-cater {
						font-size: 1.5rem;
						font-family: "Josefin Slab", serif;
						font-style: italic;
						font-weight: 400;
						margin-bottom: 1.5rem;
					}

					.reception-adresse {
						font-size: 1.4rem;
						line-height: 2rem;
						font-family: "Josefin Slab", serif;
						font-style: italic;
						font-weight: 400;
					}
				}

				.reception-button {
					width: 9.5rem;
					height: 3.2rem;
					background-color: rgb(208, 208, 208);
					border: none;
					border-radius: 0.3rem;
					font-family: "Heebo", sans-serif;
					font-weight: 600;
					color: rgb(69, 69, 69);
					transition: color 0.4s ease 0s, background-color 0.4s ease 0s;

					margin-top: 3rem;
					&:hover {
						background-color: rgb(50, 50, 50);
						color: rgb(255, 255, 255);
					}
					cursor: pointer;
				}
			}
		}
	}
}
