.gratitude {
	background-color: rgb(24, 27, 55);
	height: auto;
	width: 100%;
	bottom: 2.2rem;
	position: relative;
	.text {
		color: white;
		font-family: "Josefin Slab", serif;
		font-style: italic;
		font-weight: 600;
	}
}
