@import url("https://fonts.googleapis.com/css2?family=MonteCarlo&family=Parisienne&family=Rouge+Script&display=swap");

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-image: url("../Assets/back.webp");
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-blend-mode: overlay;
	background-color: rgba(255, 253, 248, 0.7);

	.sub-Header {
		background-color: rgb(24, 27, 55);
		height: 31rem;
		margin-top: 6rem;
		padding-top: 2rem;
		width: 100%;
		display: flex;
		flex-direction: column;

		.header-section {
			display: flex;
			flex-direction: column;
			align-items: center;
			.icon {
				width: 13rem;
			}

			.header-name {
				height: 100%;
				margin: 0;
				color: white;
				font-family: "MonteCarlo";
				font-weight: 400;
				font-size: 7rem;
			}

			.audio-player {
				background-color: rgb(16, 30, 162);
				width: 500px;
			}
		}
	}
	.background {
		background-image: url("../Assets/back.webp");

		position: relative;
		bottom: 2rem;
		.portrait {
			background-size: contain;
			max-width: 27rem;
		}
	}
}
