.slider-container {
	width: 100%;
	position: relative;
	bottom: 2.2rem;
	.slick-slide {
		img {
			width: 100%;
			max-height: 35rem;
			object-fit: cover;
			object-position: center center;
		}
	}
}
