@import url("https://fonts.googleapis.com/css2?family=MonteCarlo&family=Parisienne&family=Rouge+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@1,100..700&display=swap");

.Invitation-component {
	margin-top: 2rem;

	.Invitation-header {
		font-size: 3.2rem;
		line-height: 0.6em;
		text-align: center;
		font-family: "MonteCarlo";
		font-weight: 400;
		margin-top: 0.5rem;
	}
	.Invitation-text {
		font-size: 1.2rem;
		font-family: "Josefin Slab", serif;
		font-style: italic;
		font-weight: 400;
	}
	.Invitation-Icon-container {
		display: flex;
		justify-content: center;
		gap: 2rem;

		.Invitation-Icon {
			width: 119px;
			height: 76px;
			object-fit: cover;
			object-position: 50% 50%;
			margin: 1rem 0;
		}
	}
}
