@import url("https://fonts.googleapis.com/css2?family=MonteCarlo&family=Parisienne&family=Rouge+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

.Invitation-component {
	margin-top: 2rem;
	padding: 0 1rem;

	.container-pass {
		font-family: "MonteCarlo", "Playfair";

		font-size: 1rem;
		border-top-style: solid;
		border-top-width: 1px;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		margin: 1.5rem 0;

		@media (min-width: 410px) {
			font-size: 1.2rem;
		}

		h1 {
			margin: 0.6rem 0;
			font-weight: 400;
		}
	}
	.flex-kids {
		display: flex;
		flex-direction: column;

		.kids-icon {
			width: 4rem;
			margin: 0 auto;
			margin-top: 1rem;
		}

		.Invitation-text {
			font-size: 1.5rem;
			font-family: "Josefin Slab", serif;
			font-style: italic;
			font-weight: 400;
			@media (min-width: 410px) {
				font-size: 2rem;
			}
		}
	}

	.Invitation-header {
		font-size: 2.5rem;
		line-height: 1em;
		text-align: center;
		font-family: "MonteCarlo", "Playfair";
		font-weight: 400;
		margin-top: 0.5rem;

		@media (min-width: 410px) {
			font-size: 3.2rem;
		}
	}

	.Invitation-text {
		font-size: 1.2rem;
		font-family: "Josefin Slab", serif;
		font-style: italic;
		font-weight: 400;
	}
	.Invitation-Icon-container {
		display: flex;
		justify-content: center;
		gap: 0;

		@media (min-width: 410px) {
			gap: 2rem;
		}

		.Invitation-Icon {
			width: 119px;
			height: 76px;
			object-fit: cover;
			object-position: 50% 50%;
			margin: 1rem 0;
		}
	}
}
