.box {
	width: auto;
	height: auto;
	box-sizing: border-box;
	border-style: solid;
	border-width: 37px 0px 37px 74px;
	border-color: transparent transparent transparent white;
	transition: all 100ms ease-in-out;

	@media (min-width: 250px) {
		border-width: 22px 0px 22px 44px;
		width: 44px;
		height: 44px;
		margin-top: 2.5rem;
	}
	@media (min-width: 380px) {
		margin-top: 2rem;
	}

	@media (min-width: 480px) {
		border-width: 27px 0px 27px 54px;
		width: 54px;
		height: 54px;
		margin-top: 2rem;
	}

	@media (min-width: 1024px) {
		border-width: 37px 0px 37px 74px;
		width: 74px;
		height: 74px;
		margin-top: none;
	}
}

.pause {
	border-style: double;
	border-width: 0px 0px 0px 60px;
}
